<nav class="bar" style="z-index: 99 !important;">

  <div class="options">
    <div class="option">
      <i></i>
      <p>Tareas</p>
    </div>
  </div>

  <div class="search">
    <div class="icon">
      <i class="fas fa-search"></i>
    </div>
    <div class="input">
      <input type="text" placeholder="Buscar Tarea">
    </div>
  </div>

  <div class="user">
    <div class="name">
      <p>Hola! Edgar</p>
    </div>
    <div class="photo">
      <img src="../../assets/foto.jpg" alt="">
    </div>
    <div class="tools">
      <i class="fas fa-sort-down"></i>
    </div>
  </div>

</nav>