   <div class="pass animated fadeIn">
      <div class="input">
              <label for="">Contraseña</label>
              <input type="password" placeholder="**********">
      </div>
      <div class="input">
              <label for="">Nueva contraseña</label>
              <input type="password" placeholder="**********">
      </div>
      <div class="input">
              <label for="">Confirmar nueva contraseña</label>
              <input type="password" placeholder="**********">
      </div>
    </div>
    <div class="button">
           <input type="button" class="btn" value="Modificar Informacion">
    </div>