.group>h1,.group>h2{
    font-weight: lighter;

}
.group{
color:#6A94A6;
padding-bottom: 30px;
}
.group>p{
    font-size: .7em;
    
}
.slack{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.slack>i{
    font-size: 2.5em;
}
 .btn{
        width: 30%;
        height: 40px;
        padding: 5px;
        background-color: #6A94A6;
        border: none;
        border-radius: 45px;
        color:#E9E9E9;
        cursor: pointer;
        outline: none;
    }