<div class="informacionBasica animated fadeIn">
      <div class="info">
        <div class="topinfo">
          <div class="photo">
            <img src="../../assets/foto.jpg" alt="">
            <i></i>
          </div>
          <div class="form">
            <div class="input">
              <label for="">Nombre Completo</label>
              <input type="text" placeholder="Edgar Zuñiga Aguilar">
            </div>
            <div class="input">
              <label for="">Username</label>
              <input type="text" placeholder="EdgarAZ">
            </div>
            <div class="input">
              <label for="">Fecha de Nacimiento</label>
              <input type="text" placeholder="07/08/1997">
            </div>
            <div class="input">
              <label for="" style="font-size:.9em;">Ingresa tu contraseña para realizar cambios</label>
              <input type="password" placeholder="*********">
            </div>

          </div>
        </div>
        <div class="button">
           <input type="button" class="btn" value="Modificar Informacion">
        </div>
        
      </div>
      <div class="deleteUser">
        <b><h2>Borrar cuenta</h2></b>
        <span style="font-size:.8em;"><b style="color:#FE8D8D;">Advertencia:</b>Si borras tu cuenta perderas todas las tareas que has realizado 
y seras retirado de las tareas a las que  has sido asignado</span>
        <div class="button">
            <input type="button" class="btn red" value="Borrar cuenta">
        </div>
      </div>
    </div>