<div class="menu">
  <div class="titleMenu">
    <i class="fas fa-cog"></i>
    <p>Configuracion</p>
  </div>
  <div class="options">
    <a class="option" [routerLink]="['info']">
      <i class="fas fa-user"></i>
      <p>Perfil</p>
    </a>
    <a  class="option" [routerLink]="['tareas']">
      <i class="fas fa-tasks"></i>
      <p>Tareas</p>
    </a>
    <a  class="option" [routerLink]="['notificaciones']">
      <i class="fas fa-bell"></i>
      <p>Notificaciones</p>
    </a>
    <a class="option" [routerLink]="['pass']">
      <i class="fas fa-unlock-alt"></i>
      <p>Contraseña</p>
    </a>

  </div>
</div>